body {
  box-sizing: content-box;
}

section {
  border-bottom: 2px dashed darkgoldenrod;
  padding-bottom: 0.6785rem;
}
form {
  width: 30%;
  position: relative;
}

fieldset > * {
  display: block;
  margin-bottom: 0.8rem;
  position: relative;
}

input[type='radio'] {
  position: relative;
}

input[type='radio']::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 20px;
  width: 100px;
}

input[type='radio']:checked::after {
  content: 'selected';
}

input[type='radio']:checked ~ button[type='submit'] {
  background-color: aquamarine;
}

input[type='radio']:not(:checked)::after {
  content: 'not selected';
}

button[type='submit'] {
  padding: 1rem;
  margin-left: auto;
  margin-bottom: 0;
}

.introduction {
  background: rgba(234, 224, 255, 0.7);
}

.forms {
  background: rgba(255, 224, 234, 0.7);
}

.lists {
  background: rgba(224, 255, 234, 0.7);
}
